html, body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px whitesmoke solid;
    background-color: whitesmoke;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 100%;
    padding: 3em;
}

#image {
    width: 100%;
    height: auto;
}

.col-md-3 {
    height: 100%;
}

.polaroid-image {
    width: 85%;
    margin-bottom: 2em;
}

.polaroid-text {
    text-align: center;
    font-size: 5rem;
    width: 100%;
}

#bad-button {
    color: red;
}
#good-button {
    color: green;
}
#bad-button:hover, #good-button:hover {
    cursor: pointer;
}

#openseadragon {
    width: 100%;
    height: 80vh;
}
