.nav {
    background-color: #17243A;
    color: white;
    height: 5em;
}

#logo {
    padding-left: 2em;
    color: white;
}

#name {
    color: white;
    text-align:right;
    padding-right: 2em;
}

#image-dir {
    border: 1px solid black;
    height: 10em;
}

#task-list {
    border: 1px solid black;
    height: 10em;
}

#new-batch, #continue-batch {
    margin: auto;
    width: 60%;
    font-size: 2rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    border-radius: 1em;
    line-height: 3rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#new-batch {
    color: #5483D3;
    border: 2px #5483D3 solid;
}

#continue-batch {
    border: 2px #B7760E solid;
    color: #B7760E;
}

#new-batch:hover {
    cursor: pointer;
    background-color: #5483D3;
    color: white;
}

#continue-batch:hover {
    cursor: pointer;
    background-color: #B7760E;
    color: white;
}