/*
    The theme will contain styles that exist across all screens.
    This includes colors, font-families, and non-layout styles.
*/

h1, h2, h3, h4 {
    font-family: "Sansita", sans-serif;
    color: #B7760E;
}

p, a {
    font-family: "Open Sans", sans-serif;
}

/*https://scotch.io/tutorials/google-material-design-input-boxes-in-css3*/

/*The input classes determine the styling of the textboxes*/

input[type=text] {
    display: block;
    width: auto;
    color: white;
    line-height: 2rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: #17243A;
}

input[type=text]:focus {
    outline: none;
    /*next line will hide the border when the text input is clicked*/
    /*might want to animate this so it doesn't look so sudden*/
    /*border-bottom: 0px;*/
}

label {
    color: white;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

input[type=text]:focus ~ label, input[type=text]:valid ~ label {
    top: -20px;
    right: 100%;
    font-size: 14px;
    color: #B7760E;
}

/*The bar classes determine the styling of the animated bar when input is clicked*/

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #B7760E;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input[type=text]:focus ~ .bar:before, input[type=text]:focus ~ .bar:after {
    width: 50%;
}

/*These determine the stylings of buttons*/
input[type=submit] {
    background-color: #17243A;
    border: 1px solid white;
    border-radius: 1.5em;
    line-height: 2.7em;
    color: white;
    width: 6em;
    height: 3em;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

input[type=submit]:hover {
    background-color: #B7760E;
    border: 1px solid #B7760E;
}
